*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

body{
    background: #eee;
}

#banner{
    background: linear-gradient(rgba(17, 36, 90, 0.6), rgba(17, 36, 90, 0.6)), url(../asset/NG-en-20220711-popsignuptwoweeks-perspective_alpha_website_medium\ \(1\).jpg);
    min-height: 95vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    background-color: #fff;
    width: 320px;
    padding: 10px;
    border-radius: 5px;
}

.input{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.input button{
    padding: 10.5px 20px;
    color: #fff;
    background-color: red;
    margin-left: -5px;
    border: none;
    cursor: pointer;
    margin-top: 6px;
}

/* Banner section */

.service{
    border-radius: 12px;
    background-color: rgb(230, 230, 230);
    margin: 20px;
    padding: 10px;
    text-align: center;
}
.service-container i{
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    font-size: 50px;
    background-color:rgba(17, 36, 90, .9);
    color: #fff;
}

.service h3{
    margin: 5px 0px;
}

.service:hover{
    box-shadow: 0px 5px 15px 2px rgb(0 0 0 / 40%);
}

.container-service h1{
    text-align: center;
    margin: 50px;
}

.one{
    flex-grow: 1;
}

.d-block{
    width: 100%;
    height: 100vh;
    background-size: cover;
}
.few button{
    padding: 10px 20px;
    background-color: #898fa1;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
}

/* Service container */

.top-wrapper{
    margin: 20px;
}

.first{
    background-image:linear-gradient(rgba(17, 36, 90, 0.2), rgba(17, 36, 90, 0.2)), url(../asset/pexels-cottonbro-3945321.jpg);
    background-size: cover;
    height: 500px;
    margin-bottom: 20px;
}
.second{
    background-image:linear-gradient(rgba(17, 36, 90, 0.2), rgba(17, 36, 90, 0.2)), url(../asset/pexels-snapwire-618613.jpg);
    background-size: cover;
    height: 500px;
    background-position: center;
    margin-bottom: 20px;
}
.third{
    background-image:linear-gradient(rgba(17, 36, 90, 0.2), rgba(17, 36, 90, 0.2)), url(../asset/pexels-pixabay-51383.jpg);
    background-size: cover;
    height: 500px;
    background-position: center;
    margin-bottom: 20px;
}

.container-top h1{
    margin: 30px 0px 40px;
    text-align: center;
}

.content{
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}

.content h4{
    bottom: 290px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: .5s;
    color: #fff;
    position: relative;
    font-size: 30px;
}

.content:hover h4{
    text-indent: 10px;
    font-size: 35px;
    bottom: 0;
    opacity: 1;
    padding-top: 450px;
    padding-bottom: 15px;
    background: rgba(17, 36, 90, 0.4);
}

/* Top choice section */

.article{
    background-color: #fff;
    position: relative;
    margin: 20px;
    padding: 20px;
    border-radius: 12px;
    text-align: justify;
}

.articles{
    background-color: #fff;
    position: relative;
    margin: 20px;
    padding: 20px;
    border-radius: 12px;
    text-align: justify;
}

.blog h1{
    margin: 40px 0px;
    text-align: center;
}

.article h4{
    margin: 10px 0px;
    text-align: center;
}

.articles h4{
    margin: 10px 0px;
    text-align: center;
}

/* Article/Blog section */

.client-wrapper img{
    width: 250px;
    height: 250px;
    background-size: cover;
    border-radius: 50%;
    background-position: center;
    margin-bottom: 20px;
}

.client-wrapper-two img{
    width: 250px;
    height: 250px;
    background-size: cover;
    border-radius: 50%;
    background-position: center;
    margin-bottom: 20px;
}

#client h1{
    text-align: center;
    margin: 20px 0px;
}

.client-wrapper{
    text-align: center;
    margin: 20px;
}

.client-wrapper-two{
    text-align: center;
    margin: 20px;
}

.client-wrapper i{
    margin-bottom: 40px;
}

.client{
    background-color: rgb(17, 36, 90,.2);
    transition: all 0.4s ease-in;
}

.client:hover{
    box-shadow: 0px 5px 10px 2px rgb(0 0 0 / 40%);
    transition: all 0.4s ease-out;
}

.client.one, .client.two{
    margin-bottom: 20px;
    padding-top: 20px;
}

.client.threee, .client.fourr{
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.bx.bxs-star{
    color: rgb(17, 36, 90);
}

.bx.bx-star{
    color: rgb(17, 36, 90);
}

/* Our client section */

.container-enrol{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.enroller{
    text-align: center;
    background-position: center;
    position: relative;
    width: 100%;
    height: 400px;
    background-size: cover;
    border-radius: 15px;
    background-image: linear-gradient(rgba(17, 36, 90, 0.2), rgba(17, 36, 90, 0.2)), url(../asset/pexels-mike-b-114675.jpg);
    padding: 35px 20px 20px;
}

.enroller h2{
    color: white;
}

.enroller button{
    margin-top: 20px;
    padding: 10px 20px;
    color: #fff;
    border-radius: 8px;
    border: 2px solid white;
    background: rgb(17, 36, 90);
    transition: all 0.4s ease;
}

.enroller button:hover{
    background-color: transparent;
    /* border: 2px solid rgba(17, 36, 90); */
}

/* Enroll section */

.footer-top {
    padding-top: 80px;
    padding-bottom: 30px;
}
 
 .footer-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
}
 
 footer .footer-links a,
 footer .social-icons a {
    color: #898fa1;
}
 
 footer .social-icons a {
    font-size: 24px;
}
 
 footer .footer-links a {
    display: block;
    font-weight: 400;
    text-decoration: none;
    color: #898fa1;
}
 
 footer .social-icons a:hover,
 footer .footer-links a:hover {
    color: #fff;
}

footer{
    background-color: rgb(17, 36, 90);
    color: #eee;
}

#enrol{
    margin: 50px 0px;
}
 
#say h1{
    text-align: center;
    margin-top: 30px;
    padding-top: 30px;
}

.enroller a{
    text-decoration: none;
    color: #fff;
}

.contact-img{
    background-image:linear-gradient(rgba(17, 36, 90, 0.2), rgba(17, 36, 90, 0.5)), url(../asset/pexels-snapwire-618613.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100.9%;
    height: 450px;
    background-position: center;
}

.contact-img2{
    background-image:linear-gradient(rgba(17, 36, 90, 0.2), rgba(17, 36, 90, 0.5)), url(../asset/pexels-pixabay-51383.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 103.8%;
    height: 450px;
    background-position: center;
}

.contact-img3{
    background-image:linear-gradient(rgba(17, 36, 90, 0.2), rgba(17, 36, 90, 0.5)), url(../asset/pexels-cottonbro-3945321.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100.9%;
    height: 450px;
    background-position: center;
}

.carousel-item button a{
    text-decoration: none;
    color: #fff;
}

.get-in-touch h2{
    padding: 20px 0px;
}

.forms input{
    width: 100%;
    border: 1px solid black;
}

.forms textarea{
    width: 100%;
    height: 200px;
}

iframe{
    height: 400px;
    width: 100%;
}

.wau h2{
    padding: 20px 0px;
}

.render{
    background-color: rgb(17, 36, 90);
}

.service-img img{
    width: 100%;
    height: 250px;
    background-size: cover;
    background: linear-gradient(rgba(17, 36, 90, 0.8), rgba(17, 36, 90, 0.8));
}

.brand-button{
    position: relative;
    bottom: 150px;
    background-color: #fff;
}

.price-img{
    background-image: url(../asset/pexels-cottonbro-3945321.jpg);
}

.book-button{
    background-color: #fff;
    border-radius: 0;
}

.end-img{
    background-image:linear-gradient(rgba(17, 36, 90, 0.5), rgba(17, 36, 90, 0.5)), url(../asset/pexels-snapwire-618613.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.end-imgs{
    width: 108.6%;
}

.team-member {
    background-color: #11245A;
}
.social-icons > a{
    text-decoration: none;
}
.team-member.even {
    background-color: #162e6e;
}
.team-member-img > img{
    width: 100%;
    height: auto;
}
.team-member .hline {
    width: 70px;
    height: 2px;
    margin: 16px auto;
    background-color: rgba(255, 255, 255, 0.445);
}
.team-member .team-member-img img,
.team-member .team-member-img .social-icons {
    transition: all 0.4s ease;
}
 
.team-member .team-member-img {
    position: relative;
    overflow: hidden;
}

.team-member .team-member-img .social-icons {
    width: 100%;
    height: 60px;
    background-color: #E93B81;
    position: absolute;
    bottom: -60px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.team-member .team-member-img .social-icons a {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(255, 255, 255, 0.5);
    font-size: 24px;
    color: #fff;
    border-radius: 100px;
    margin-left: 4px;
    margin-right: 4px;
}
 
.team-member .team-member-img .social-icons a:hover {
    background-color: #fff;
    color: #E93B81;
}
 
.team-member:hover .team-member-img .social-icons {
    bottom: 0;
}
.team-member:hover img {
    transform: translateY(-60px);
}
.support-logo{
    padding: 75px 0px;
}
#cta {
    background-color: rgb(17, 36, 90);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}


/* Footer section */
/* Default screen */

@media screen and (min-width:768px){
    .gap{
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    nav ul{
        display: flex;
    }
    nav li{
        flex: 1 1 0;
    }
    nav{
        display: flex;
        justify-content: space-between;
    }
    .links a{
        padding: 10px 20px;
        margin-top: 1.1px;
    }
    .social i{
        font-size: 20px;
    }
    .social{
        margin: 0;
    }
    /* header section */
    .input input{
        width: 600px;
    }
    .input button{
        border-radius: 0px 5px 5px 0px;
        padding: 10px 20px;
    }
    .input input{
        border-radius: 5px 0px 0px 5px;
        border: none;
    }
    .input h1{
        font-size: 50px;
        letter-spacing: 1px;
    }
    .okay img{
        background-size: cover;
        height: 100vh;
        width: 100%;
        opacity: .8;
    }
    .d-block{
        height: 100vh;
        width: 100%;
    }
    .few{
        position: absolute;
        bottom: 25%;
    }
    .few button{
        padding: 10px 20px;
        background-color: #898fa1;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 5px;
    }
    /* banner section */
    .container-service{
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    .one{
        flex: 1 1 0;
    }
    .two{
        flex: 1 1 0;
    }

    .three{
        flex: 1 1 0;
    }
    .service-container{
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .service{
        flex-basis: 31.5%;
        border-radius: 12px;
        background-color: rgb(230, 230, 230);
    }
    .service-container i{
        border-radius: 5px;
        padding: 5px;
        margin: 10px;
        font-size: 50px;
        background-color:rgba(17, 36, 90, .9);
        color: #fff;
    }
    .service h3{
        margin: 5px 0px;
    }
    .service:hover{
        box-shadow: 0px 5px 15px 2px rgb(0 0 0 / 40%);
    }
    .container-top{
        width: 90%;
        margin: 0 auto;
    }
    /* Service section */
    .top-wrapper{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .content{
        flex-basis: 31.5%;
        border-radius: 12px;
        position: relative;
        margin: 10px;
    }
    .first{
        background-image:linear-gradient(rgba(17, 36, 90, 0.2), rgba(17, 36, 90, 0.2)), url(../asset/pexels-cottonbro-3945321.jpg);
        background-size: cover;
        height: 500px;
        flex-grow: 1;
    }
    .second{
        background-image:linear-gradient(rgba(17, 36, 90, 0.2), rgba(17, 36, 90, 0.2)), url(../asset/pexels-snapwire-618613.jpg);
        background-size: cover;
        height: 500px;
        background-position: center;
        flex-grow: 1;
    }
    .third{
        background-image:linear-gradient(rgba(17, 36, 90, 0.2), rgba(17, 36, 90, 0.2)), url(../asset/pexels-pixabay-51383.jpg);
        background-size: cover;
        height: 500px;
        background-position: center;
        flex-grow: 1;
    }
    .container-top h1{
        margin: 30px 0px 40px;
        text-align: center;
    }
    .content:hover h4{
        text-indent: 10px;
        font-size: 30px !important;
        bottom: 0;
        opacity: 1;
        padding-top: 450px;
        padding-bottom: 15px;
        background: rgba(17, 36, 90, 0.4);
    }
    .blog{
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    .blog-wrapper{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .article{
        flex-basis: 31.5%;
        background-color: #fff;
        position: relative;
        margin: 10px;
        padding: 20px;
        border-radius: 12px;
        text-align: justify;
    }
    .articles{
        flex-basis: 31.5%;
        background-color: #fff;
        position: relative;
        margin: 10px;
        padding: 20px;
        border-radius: 12px;
        text-align: justify;
    }
    .four, .five, .six, .seven, .eight, .nine, .threee, .fourr{
        flex-grow: 1;
    }
    .blog h1{
        margin: 40px 0px;
    }
    .article h4{
        margin: 10px 0px;
        text-align: center;
    }
    #contain{
        background-color: #fff;
    }
    #client{
        width: 90%;
        margin: 0 auto;
        border-radius: 12px;
    }
    #client h1{
        padding: 20px;
        margin: 20px 0px 0px;
        text-align: center;
    }
    .client-wrapper{
        display: flex;
        justify-content: space-between;
    }
    .client-wrapper-two{
        display: flex;
        justify-content: space-between;
    }
    .client{
        flex-basis: 31.5%;
        position: relative;
        margin: 20px;
        padding: 0px 30px;
        border-radius: 12px;
    }
    .client > h3 + p{
        font-style: italic;
        font-weight: bold;
    } 
    .contact-img{
        background-image: url(../asset/pexels-pixabay-531844.jpg);
        background-attachment: fixed;
        width: 100.9%;
        height: 450px;
        background-position: center;
        background-size: cover;
    } 
    .contact-col{
        background-color: rgba(0,0,0,.5);
    }
    .get-in-touch h2{
        padding: 80px;
    }
    .forms input{
        width: 100%;
        border: 1px solid black;
    }
    .forms textarea{
        width: 100%;
        height: 200px;
    }
    .contact-img2{
        background-image:linear-gradient(rgba(17, 36, 90, 0.2), rgba(17, 36, 90, 0.5)), url(../asset/pexels-pixabay-51383.jpg);
        background-attachment: fixed;
        width: 100.9%;
        height: 450px;
        background-position: center;
        background-size: cover;
    }
    .wau h2{
    padding: 80px;
    }
    .service-img img{
        width: 100%;
        height: 250px;
        background-size: cover;
    }
    .book-button{
        background-color: #fff;
        border-radius: 0;
    }
    .end-img{
        background-image:linear-gradient(rgba(17, 36, 90, 0.5), rgba(17, 36, 90, 0.5)), url(../asset/pexels-snapwire-618613.jpg);
        background-size: cover;
        background-attachment: fixed;
        height: 85vh;
    }
    .end-imgs{
        height: 200px;
        position: relative;
        top: 55%;
    }
    .team-member {
        background-color: #11245A;
    }
    .social-icons > a{
        text-decoration: none;
    }
    .team-member.even {
        background-color: #162e6e;
    }
    .team-member-img > img{
        width: 100%;
        height: auto;
    }
    .team-member .hline {
        width: 70px;
        height: 2px;
        margin: 16px auto;
        background-color: rgba(255, 255, 255, 0.445);
    }
    .team-member .team-member-img img,
    .team-member .team-member-img .social-icons {
        transition: all 0.4s ease;
    }
    .team-member .team-member-img {
        position: relative;
        overflow: hidden;
    }
    .team-member .team-member-img .social-icons {
        width: 100%;
        height: 60px;
        background-color: #E93B81;
        position: absolute;
        bottom: -60px;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    } 
    .team-member .team-member-img .social-icons a {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid rgba(255, 255, 255, 0.5);
        font-size: 24px;
        color: #fff;
        border-radius: 100px;
        margin-left: 4px;
        margin-right: 4px;
    }
    .team-member .team-member-img .social-icons a:hover {
        background-color: #fff;
        color: #E93B81;
    }
    .team-member:hover .team-member-img .social-icons {
        bottom: 0;
    }
    .team-member:hover img {
        transform: translateY(-60px);
    }
    .support-logo{
        padding: 75px 0px;
    }
    #cta {
        background-color: rgb(17, 36, 90);
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }
}

/* Large screen media queries */

@media screen and (min-width:1024px){
    .service{
        flex-basis: 30%;
        /* flex-wrap: nowrap; */
    }
    .one, .two, .three, .first, .second, .third, .fourr, .threee{
        flex: 1;
    }
    .article.four, .article.five, .article.six{
        flex-grow: 1;
    }
}

/* Extra large screen meida queries  */


@media screen and (max-width:375px){
    .content:hover h4{
        text-indent: 10px;
        font-size: 25px;
        bottom: 0;
        opacity: 1;
        padding-top: 450px;
        padding-bottom: 15px;
        background: rgba(17, 36, 90, 0.4);
    }
    .enroller button{
        margin-top: 10px;
        padding: 10px 20px;
        color: #fff;
        border-radius: 8px;
        border: 2px solid white;
        background: rgb(17, 36, 90);
    }
    
    .enroller button:hover{
        background-color: transparent;
        color: rgb(17, 36, 90);
        /* border: 2px solid rgba(17, 36, 90); */
    }
}

/* Smallest screen media queries */


@media screen and (min-width:1340px){
    #client{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .client-wrapper-two{
        margin-left: 0px;
    }
    .client-wrapper{
        margin-right: 0px;
    }
    #say h1{
        text-align: center !important;
    }
    .client{
        margin: 10px;
    }
}